      html,
      body {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden;
      }
      
      a {
        color: white;
      }
      
      a:focus,
      a:hover {
        color: white;
        text-decoration: none;
        outline: 0px;
      }
      
      a:hover {
        color: antiquewhite;
      }
      
      a:hover {
        text-decoration: none;
        margin: 0;
        /*  padding: 15px;*/
        */
        /*  background-color: rgb(54, 54, 54);*/
      }
      
      .col-xs-offset-1 {
        /*margin-left: 180px;  */
      }
      
      .footer {
        background-color: black;
        /*    margin-top: 15%;*/
      }
      
      .footer-logos .img-responsive {
        max-width: calc(40%/10);
        display: inline-block;
      }
      
      .footer-logos {
        text-align: center;
        margin-top: 10px;
      }
      
      .type-writer {
        text-align: center;
        font-size: 2em;
        color: black;
      }
      
      #images {
        padding-top: 180px;
        text-align: center;
      }
      
      .intro .img-responsive {
        max-width: calc(40%);
        float: left;
        filter: grayscale(100%)
      }
      
      .intro-banner {
        background-color: whitesmoke;
        padding-top: 100px;
        padding-bottom: 100px
      }
      
      #intro-text {
        font-family: 'Mandali', sans-serif;
        font-size: 2em;
      }
      
      #images .img-responsive {
        max-width: calc(30%/10);
        display: inline-block;
      }
      
      img {
        padding: 5px;
      }
      
      .nav>li>a {
        text-align: center;
      }
      
      .navbar-default .navbar-brand:hover {
        color: grey;
      }
      
      .navbar-default .navbar-brand {
        color: white;
      }
      
      .navbar-inverse .navbar-nav>li>a:hover {
        color: grey;
      }
      
      .navbar-inverse .navbar-nav>li>a {
        color: white;
      }
      
      #menu-text {
        margin-left: 40%;
      }
      
      .profile-picture {
        /*  margin-left: 90px;*/
      }
      
      .type-writer2 {
        display: block;
        padding-top: 30px;
        font-family: 'VT323', monospace;
        font-size: 2em;
      }
      
      .time {
        font-family: 'Mandali', sans-serif;
        font-size: 5em;
        text-align: center;
        color: white;
      }
      
      .top-content {
        margin-top: 50px;
        padding-top: 150px;
        padding-bottom: 150px;
        background-repeat: no-repeat;
        background-size: cover;
      }
      
      .projects-area {
        font-family: 'Mandali', sans-serif;
        font-size: 2em;
        background-color: white;
      }
      
      #project-area-title {
        text-align: center;
      }
      
      #panel-title {
        text-align: center;
      }
      
      #menu-text {
        margin-left: 10%;
      }
      
      @media screen and (max-width: 768px) {
        .type-writer2 {
          display: none;
        }
        #images .img-responsive {
          max-width: calc(60%/10);
          display: inline-block;
        }
        .footer-logos .img-responsive {
          max-width: calc(20%/2);
          display: inline-block;
        }
        #text {
          font-size: .7em;
        }
        .time {
          font-size: 2em;
        }
        .top-content {
          margin-top: 50px;
          padding-top: 50px;
          padding-bottom: 50px;
        }
        #intro-text {
          font-size: 1em;
        }
        .intro-banner {
          padding-top: 50px;
          padding-bottom: 50px;
        }
        #menu-text {
          margin-left: 40%;
        }
      }
      
      @media screen and(min-width:480px) {
        #text {
          font-size: em;
        }
        .top-content {
          margin-top: 50px;
          padding-top: 50px;
          padding-bottom: 50px;
        }
      }